---
import type { Podcast } from "../types/Podcast";
import Star from "./Star.astro";

interface Props {
  podcast: Podcast;
}

const { podcast } = Astro.props;

const artworkUrl = podcast.itunesData?.artworkUrl600 ?? "";
const srcSet200Webp = artworkUrl.replace("600x600bb.jpg", "200x200bb.webp");
const srcSet400Webp = artworkUrl.replace("600x600bb.jpg", "400x400bb.webp");
const srcSet200Jpg = artworkUrl.replace("600x600bb.jpg", "200x200bb.jpg");
const srcSet400Jpg = artworkUrl.replace("600x600bb.jpg", "400x400bb.jpg");
---

<div
  data-podcast-card
  data-sort-title={podcast.sortTitle}
  data-rating={podcast.rating}
  data-tags={podcast.tags.join("|")}
  class="grid grid-cols-3 gap-6 items-start w-full bg-white rounded-lg shadow-lg sm:gap-4 lg:grid-cols-3 lg:gap-6"
>
  <a
    class="w-full h-full"
    href={podcast.itunesData?.collectionViewUrl}
    target="_blank"
    rel="noopener noreferrer"
    title={`${podcast.itunesData?.collectionName} Poster`}
  >
    <picture>
      <source
        type="image/webp"
        srcset={`${srcSet200Webp} 1x, ${srcSet400Webp} 2x`}
      />
      <img
        class="object-cover w-full h-full rounded-lg rounded-r-none border-r border-gray-200"
        alt={`${podcast.itunesData?.collectionName} Poster`}
        height={200}
        loading="lazy"
        src={srcSet200Jpg}
        srcset={`${srcSet200Jpg} 1x, ${srcSet400Jpg} 2x`}
        width={200}
      />
    </picture>
  </a>
  <div
    class="flex flex-col col-span-2 justify-between py-4 pr-6 w-full h-full lg:pt-4 flex-2"
  >
    <div>
      <p class="text-xl font-bold truncate">
        <a
          href={podcast.itunesData?.collectionViewUrl}
          rel="noopener noreferrer"
          target="_blank"
        >
          <span set:html={podcast.itunesData?.collectionName} />
        </a>
      </p>
    </div>
    <div
      class="flex-col flex-1 gap-2 justify-between lg:flex lg:flex-row-reverse lg:mt-1"
    >
      <p class="flex my-3 lg:justify-end">
        <Star filled={podcast.rating > 0} />
        <Star filled={podcast.rating > 1} />
        <Star filled={podcast.rating > 2} />
        <Star filled={podcast.rating > 3} />
        <Star filled={podcast.rating > 4} />
      </p>
      <div>
        <div
          class="flex flex-wrap gap-y-1 gap-x-2 justify-start mt-4 lg:my-2"
        >
          {
            podcast.tags.map((tag) => (
              <button
                class="inline-block bg-gray-200 text-gray-700 rounded px-1.5 py-1 text-xs font-semibold focus:outline-hidden"
                data-card-tag={tag}
                type="button"
              >
                {tag}
              </button>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
